@import "settings";

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  outline: none;
}

.icon {
  display: inline-flex;
  vertical-align: middle;
}